//변수처리

//size width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeSBig: 21px;
$fontSizeSBigger: 35px;
$fontSizeSmuchBigger: 40px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//background color
$layoutBg: #fff;

//font color
$fontColorBasic: #666;
$fontColorPrimary: #333;
$fontColorHover: #0890c0;

//border color
$borderColorPrimary: #333;
$borderColor: #666;

//button color
$gbtnColor: #d1d1d1;
$gbtnColorHover: #0890c0;

//table bg
$tableBg: #0890c0;
